.hello {
    height: 100px;
    width: 250px;
    background-color: rgb(52, 75, 6);
    border-radius: 10px;
    text-align: center;

    animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes widthAnimation {
    from {
        width: 20px;
    }
    to {
        width: 200px;
    }
}


@keyframes fontAnimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 60px;
    }
}

@keyframes colorAnimation {
    from {
        background-color: azure;
    }
    to {
        background-color: rgb(63, 75, 39);
    }
}