div {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px solid black;
}

.two {
    background-color: aquamarine;
    position: relative;
    z-index: 3;
    bottom: 20px;
}

.one {
    background-color: brown;
    position: relative;
    z-index: 1;
}