.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
}

img {
    width: 100%;
    border-radius: 25px;
}

#animal {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 400px) {
    #animal {
        flex-wrap: wrap;
    }
}

h3 {
    color: aquamarine;
}

span {
    color: darkslategrey;
}

h2 {
    color: olivedrab;
}